h1, h2 {
  font-style: italic;
}

/* комбінатори
- > дочірних ел
- потомків

- ~ сусідніх (наступни) елементів
- + наступного елемента */

body > * {
  border: 1px solid red;
}

section p {
  font-weight: bold;
}
/* зробити жирним тшльки ті абзаци, які в section */

section h2 {
  color: blueviolet;
 }
 h2+p {
  background-color: aqua;
 }

 h2+p~p {
  color: blue;
 }

/* Дочірній комбінатор (>)
Комбінатор нащадків (пробіл)
Комбінатор наступного елементу (+)
Комбінатор сусідніх (наступних) елементів (~) */

